* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border-radius: 5px;
    margin-top:20px ;
    background-color: rgb(6, 182, 246);
}
.first {
    width: 1400px;
    padding: 50px;
    background-color: rgb(185, 182, 182);
    margin: 20px;
    margin-left:50px ;
    margin-bottom: 0px;
}
.parent {
display: flex;
width: 1400px;
margin: 0px 50px;
}
div {
    height: 300px;
    width: 400px;
    padding: 20px 20px;
}
.foot {
    margin-left: 60px;
}
.div1 {
    color: black;
    background-size: cover;

}